$spaces: (
	'0': 0 !important,
	'1': 5px !important,
	'2': 10px !important,
	'3': 15px !important,
	'4': 20px !important,
	'5': 25px !important,
	'6': 30px !important,
	'7': 35px !important,
	'8': 40px !important,
	'9': 45px !important,
	'10': 50px
) !default;


$breakpoints: (
	xl: $screen-xl,
	lg: $screen-lg,
	md: $screen-md,
	sm: $screen-sm,
	xs: $screen-xs
);

$colors: (
	'primary': $color-primary,
	'text': $color-text,
	'text-70': $color-text-70
) !default;


$font_sizes: (
	'xl': $font-size-xl,
	'lg': $font-size-lg,
	'md': $font-size-md,
	'base': $font-size-base,
	'sm': $font-size-sm
) !default;

$font-weights: (
	'100': $fw-100, 
	'200': $fw-200, 
	'300': $fw-300, 
	'400': $fw-400, 
	'500': $fw-500, 
	'600': $fw-600, 
	'700': $fw-700, 
	'800': $fw-800, 
	'900': $fw-900
)!default;