@media (max-width: $screen-xl) {
	.container {
		max-width: 992px;
	}
}

@media (max-width: $screen-lg) {
	.container {
		max-width: 860px;
	}
}

@media (max-width: $screen-md) {
	.container {
		max-width: 680px;
	}
}

@media (max-width: $screen-sm) {
	.container {
		max-width: 450px;
	}
}

@media (max-width: $screen-xs) {
	.container {
		max-width: 320px;
	}
}