body {
	color: $color-text;
	font-size: $font-size-base;
	line-height: 1.3;
	font-family: $font-primary;
	font-weight: $fw-400;
	background: #fff;
	word-wrap: break-word;
	overflow-x: hidden;
	position: relative;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}